extends layout

block content
    section
        div(class='flex justify-between') 
            a(href='/chemical' class='text-link-color') &#128896; List
            a(href='/' class='text-link-color') Home
            a(href='/chemical/' + chemical._id + '/update' class='text-link-color') Edit &#128898;
    
    section
        div
            h3(class='[&~*]:indent') #{chemical.name}
            p Chemical formula: !{chemical.formulaFormatted}
            p CAS no.: #{chemical.casNo}
            p MW (g mol
                sup -1
                |): #{chemical.mW}

    section
        div
            h3 Functional Groups
            if (chemical.groups.length) 
                ul(class='indent')
                    each group in chemical.groups
                        li(class='list-disc list-inside')
                            a(href='/group/' + group._id class='capitalize text-link-color') #{group.name}
            else
                p This chemical does not possess any functional group in record.

    section
        div
            h3 Products
            if (chemicalProducts && chemicalProducts.length)
                ul(class='indent')
                    each product in chemicalProducts
                        li(class='list-disc list-inside')
                            a(href='/product/' + product._id class='text-link-color') #{product.sku}
            else
                p No product of this chemical exists in the record.
