extends layout

block content
    section
        div(class='flex justify-between') 
            a(href='/' class='text-link-color') Home
            a(href='/chemical' class='text-link-color') List
            a(href='/chemical/' + chemical._id + '/update' class='text-link-color') Edit
    
    section(class='dividerBottom')
        div
            h3(class='[&~*]:indent hyphens-auto') #{chemical.name}
            p Chemical formula: !{chemical.formulaFormatted}
            p CAS number: #{chemical.casNo}
            p MW (g mol
                sup -1
                |): #{chemical.mW}

    section(class='dividerBottom')
        div
            h3 Functional Groups
            if (chemical.groups.length) 
                ul(class='indent')
                    each group in chemical.groups
                        li(class='list-disc list-inside')
                            a(href='/group/' + group._id class='capitalize text-link-color') #{group.name}
            else
                p This chemical does not possess any functional group in record.

    section(class='dividerBottom')
        div
            h3 Products
            if (chemicalProducts && chemicalProducts.length)
                ul(class='indent')
                    each product in chemicalProducts
                        li(class='list-disc list-inside')
                            a(href='/product/' + product._id class='text-link-color') #{product.sku}
            else
                p No product of this chemical exists in the record.

    section(class='border-b-0 dividerBottom')
        div(class='flex justify-end')
            a(href='/chemical/' + chemical._id + '/delete' class='inline-block text-warning-color')
                button(type='button' class='deleteBtn') Delete Chemical
                