extends layout

block content
    section 
        div(class='flex justify-between') 
            a(href='javascript:history.back()' class='text-link-color') Back

    section(class='border-b-0 dividerBottom')
        div
            form(method='post' action='') 
                label(for='name' class='block compulsoryField') Name
                input#name(type='text' class='inputText' name='name' placeholder='Alkane' required=true value=(group ? group.name : ''))
                if (errors && errors.name)
                    p(class='text-sm text-warning-color')!= errors.name.msg
                else
                    p(class='text-sm') Functional group name


                label(for='description' class='block compulsoryField') Description
                textarea#description(name='description' class='inputText' rows=5 placeholder='Alkane is made up of C-H bonds ...' minLength=3 required=true) #{group ? group.description : ''}
                if (errors && errors.description)
                    p(class='text-sm text-warning-color')!= errors.description.msg
                else 
                    p(class='text-sm') Description of functional group, at least 3 characters

                label(for='wikiUrl' class='block') Wiki URL
                input#wikiUrl(type='url', name='wikiUrl' class='inputText' placeholder='https://en.wikipedia.org/wiki/Alkane' value=(group ? group.wikiUrl : ''))
                if (errors && errors.wikiUrl)
                    p(class='text-sm text-warning-color')!= errors.wikiUrl.msg
                else
                    p(class='text-sm') Link to Wiki page, must start with "https"

                button(type='submit' class='formSubmitBtn')= isUpdating ? 'Save' : 'Create'
    