extends layout

block content
  section
    div
      p Welcome to #{title}.
      p The inventory has the following record counts:
      ul(class='[&>li]:list-disc [&>li]:list-inside pl-2') 
        li 
          a(href='/product' class='text-link-color') #[Strong Products]:
          |  !{productCount}
        li
          a(href='/chemical' class='text-link-color') #[Strong Chemicals]:
          |  !{chemicalCount}
        li
          a(href='/group' class='text-link-color') #[Strong Functional groups]:
          |  !{groupCount}

  section
    div
      h3 Quick Navigation
      ul(class='indent columns-2 [&>li]:break-inside-avoid [&_p]:text-center [&_img]:mx-auto')
        li(class='bg-red-300 navigatorButton bg-hover-color')
          a(href='/group')
            img(src='/images/allGroups.png', alt='Icon for All Groups button')
            p All Groups
        li(class='bg-orange-300 navigatorButton bg-hover-color')
          a(href='/chemical')
            img(src='/images/allChemicals.png', alt='Icon for All Chemicals button')
            p All Chemicals
        li(class='bg-yellow-300 navigatorButton bg-hover-color')
          a(href='/product')
            img(src='/images/allProducts.png', alt='Icon for All Products button')
            p All Products
        li(class='bg-green-300 navigatorButton bg-hover-color')
          a(href='/group/create')
            img(src='/images/createGroup.png', alt='Icon for Create Group button')
            p Create Group
        li(class='bg-blue-300 navigatorButton bg-hover-color')
          a(href='/chemical/create')
            img(src='/images/createChemical.png', alt='Icon for Create Chemical button')
            p Create Chemical
        li(class='bg-violet-300 navigatorButton bg-hover-color')
          a(href='product/create')
            img(src='/images/createProduct.png' alt='Icon for Create Product button')
            p Create Product

  section
    div
      h3 New Product
      if (recentProducts && recentProducts.length)
        ul(class='indent')
          each product in recentProducts
            li(class='bg-slate-300 indent py-2 [&:not(:first-child)]:mt-2 rounded-md bg-hover-color relative')
              p(class='pl-2 font-semibold capitalize truncate') #{product.chemical.name}
              p(class='indent') SKU: #{product.sku}
              p(class='indent') Added #{product.addedAgo} ago
              a(href='/product/' + product._id class='absolute inset-0')
      else
        p Oops, it appears that no new products have been added lately.
            


