extends layout

block content
  section 
    div
      h1(class='text-xl')= title

  section
    div
      p Welcome to #{title}.
      p The inventory has the following record counts:
      ul(class='[&>li]:list-disc [&>li]:list-inside pl-2 [&_a]:text-blue-500') 
        li 
          a(href='/product') #[Strong Products]:
          |  !{productCount}
        li
          a(href='/chemical') #[Strong Chemicals]:
          |  !{chemicalCount}
        li
          a(href='/group') #[Strong Functional groups]:
          |  !{groupCount}

  section
    div
      h2(class='text-lg uppercase') quick navigation
      ul(class='p-3 columns-2 [&>li]:break-inside-avoid [&_h3]:text-center [&_img]:mx-auto')
        li(class='bg-red-400 navigatorButton')
          a(href='/group')
            img(src='/images/allGroups.png', alt='Icon for All Groups button')
            h3 All Groups
        li(class='bg-orange-400 navigatorButton')
          a(href='/chemical')
            img(src='/images/allChemicals.png', alt='Icon for All Chemicals button')
            h3 All Chemicals
        li(class='bg-yellow-400 navigatorButton')
          a(href='/product')
            img(src='/images/allProducts.png', alt='Icon for All Products button')
            h3 All Products
        li(class='bg-green-400 navigatorButton')
          a(href='/group/create')
            img(src='/images/createGroup.png', alt='Icon for Create Group button')
            h3 Create Group
        li(class='bg-blue-400 navigatorButton')
          a(href='/chemical/create')
            img(src='/images/createChemical.png', alt='Icon for Create Chemical button')
            h3 Create Chemical
        li(class='bg-violet-400 navigatorButton')
          a(href='group/create')
            img(src='/images/createProduct.png' alt='Icon for Create Product button')
            h3 Create Product

  section
    div
      h2(class='text-lg uppercase') recently added
      ul(class='p-3')
        each product in recentProducts
          li(class='bg-slate-400 px-3 py-2 [&:not(:first-child)]:mt-2 rounded-md hover:bg-slate-200 relative')
            h3(class='pl-2 capitalize') #{product.chemical.name}
            p(class='pl-3') SKU: #{product.sku}
            p(class='pl-3') Added #{product.addedAgo} ago
            a(href='/product/' + product._id class='absolute inset-0')
            


