extends layout

block content
    section 
        div(class='flex justify-between') 
            a(href='/' class='text-link-color') Home
            a(href='/product' class='text-link-color') List
            a(href='/product/' + product._id + '/update' class='text-link-color') Edit


    section(class='dividerBottom')
        div
            h3 #{product.sku} (#{product.chemical.name})
            p(class='indent') #{product.description}

    section(class='dividerBottom')
        div
            h3 Product Details
            p(class='capitalize indent') Pack Size: #{product.packSize}
            p(class='capitalize indent') Price: #{product.price}
            p(class='capitalize indent') Number in Stock:
                if (product.numberInStock < 10)
                    span(class='font-semibold text-red-500 indent')= product.numberInStock
                else if (product.numberInStock < 20)
                    span(class='font-semibold text-orange-500 indent')= product.numberInStock
                else 
                    span(class='font-semibold text-green-500 indent')= product.numberInStock

    section(class='dividerBottom')
        div 
            h3 SDS
            if (!product.sds)
                p(class='indent') No SDS has been uploaded
            else
                a(href=`/product/${product._id}/sds` target='_blank' class='text-link-color indent') Link to SDS file

    section(class='border-b-0 dividerBottom')
        div(class='flex justify-end')
            a(href='/product/' + product._id + '/delete' class='inline-block text-warning-color')
                button(type='button' class='deleteBtn') Delete Product