extends layout

block content
    - const allProducts = paginateProducts.docs;

    section 
        div(class='flex justify-between') 
            a(href='/' class='text-link-color') &#128896; Home
            a(href='/product/create' class='text-link-color') Create &#128898;
            
    section
        div
            if (allProducts && allProducts.length)
                ul
                    each product in allProducts
                        li(class='relative clickableListItem')
                            p(class='text-lg font-semibold capitalize truncate') #{product.chemical.name}
                            p SKU: #{product.sku}
                            p Left: 
                                if (product.numberInStock < 10)
                                    span(class='font-semibold text-red-500')= product.numberInStock
                                else if (product.numberInStock < 20)
                                    span(class='font-semibold text-orange-500')= product.numberInStock
                                else
                                    span(class='font-semibold text-green-500')= product.numberInStock
                            a(href='/product/' + product._id class='absolute inset-0') 

            else
                p Oops, it seems like the record is empty. Please create one to add to it.
        
        if (allProducts && allProducts.length)
            section
                div
                    p Showing #{allProducts.length} of #{paginateProducts.totalDocs} products.

            section
                div(class='flex justify-center gap-x-5') 
                    if (paginateProducts.hasPrevPage)
                        if (paginateProducts.prevPage != 1)
                            a(href='/product/page1' class='text-link-color') 1
                            | ...
                        a(href='/product/page' + paginateProducts.prevPage class='text-link-color') #{paginateProducts.prevPage}
                    p(class='font-bold underline') #{paginateProducts.page}
                    if (paginateProducts.hasNextPage)
                        a(href='/product/page' + paginateProducts.nextPage class='text-link-color') #{paginateProducts.nextPage}
                        if (paginateProducts.nextPage != paginateProducts.totalPages)
                            | ...
                            a(href='/product/page' + paginateProducts.totalPages class='text-link-color') #{paginateProducts.totalPages}

